.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  padding: 2rem;
  border: 1px solid rgb(166, 172, 205);
  background-color: #292d3e;

  &:focus {
    outline: none;
  }
}

.form {
  margin-bottom: 2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 1px dotted rgb(166, 172, 205);
  margin-bottom: 1rem;
}
.formRow {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;

  label {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }

  input {
    background-color: #292d3e;
    border: none;
    border-bottom: 1px dotted rgb(166, 172, 205);
    color: rgb(166, 172, 205);
    padding: 0.5rem;


    &:focus {
      outline: none;
    }
  }
}

.button {
  cursor: pointer;
  padding: 1rem;
  border: 1px solid rgb(166, 172, 205);
  margin-right: 1rem;
}
