.credits {
  text-align: center;
  font-size: 0.8rem;
  line-height: 1rem;
}

.link {
  text-decoration: underline;
  text-decoration-style: dotted;
  font-size: 0.9rem;
}

.selectorsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 40rem) {
  .selectorsContainer {
    display: block;
  }

  .teaSelector {
    margin-bottom: 1rem;
  }
}

.teaSelector {
  background-color: rgb(60, 67, 94);
  -webkit-appearance: none;
  color: rgb(166, 172, 205);
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 1rem;
  height: 1.5rem;
  border-radius: 0;
}

.switchContainer {
  display: flex;
  align-items: center;
}

.button {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(166, 172, 205);
  margin-right: 1rem;
}
