.credits {
  text-align: center;
  font-size: 0.8rem;
  line-height: 1rem;
}

.link {
  text-decoration: underline;
  text-decoration-style: dotted;
  font-size: 0.9rem;
}

.selectorsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.teaSelector {
  background-color: rgb(60, 67, 94);
  color: rgb(166, 172, 205);
}

.switchContainer {
  display: flex;
  align-items: center;
}
